.build/
.swiftpm/
.DS_Store
xcuserdata/
LGKA.xcodeproj/
build/
report.html
diff-*.png
verification/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
fastlane/README.md
vendor/bundle/
.bundle/
